<a href="https://colab.research.google.com/github/BRkavin/AL-ML-/blob/main/Ada_Boost_dec_27_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
test = pd.read_csv("https://raw.githubusercontent.com/nunnarilabs/ml/master/titanic/test.csv")
train =pd.read_csv("https://raw.githubusercontent.com/nunnarilabs/ml/master/titanic/train.csv")

In [3]:
train.info(),test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

(None, None)

In [4]:
train.set_index("PassengerId",inplace=True)
test.set_index("PassengerId",inplace=True)

In [5]:
y_train =train["Survived"]

In [6]:
train.drop(labels="Survived",axis=1,inplace=True)

In [7]:
train.shape

(891, 10)

In [8]:
train_test=train.append(test)

<ipython-input-8-d2734cde2921>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_test=train.append(test)

In [9]:
columns_to_drop =["Name","Age","SibSp","Ticket","Cabin","Parch","Embarked"]
train_test.drop(labels=columns_to_drop,axis=1,inplace=True)

In [10]:
train_test_dummies =pd.get_dummies(train_test,columns =["Sex"])

In [11]:
train_test_dummies.shape

(1309, 4)

In [12]:
train_test_dummies.isnull().sum()

Pclass        0
Fare          1
Sex_female    0
Sex_male      0
dtype: int64

In [13]:
train_test_dummies.fillna(value=0.0, inplace=True)

In [14]:
X_train=train_test_dummies.values[0:891]
X_test=train_test_dummies.values[891:]

In [15]:
from sklearn.preprocessing import MinMaxScaler
scaler =MinMaxScaler()
X_train_scale =scaler.fit_transform(X_train)
X_test_scale =scaler.transform(X_test)

In [16]:
# split training feature and target sets into training and validation subsets
from sklearn.model_selection import train_test_split

X_train_sub, X_validation_sub, y_train_sub, y_validation_sub = train_test_split(X_train_scale, y_train, random_state=0)

In [17]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [18]:
learning_rates = [0.05, 0.1, 0.25, 0.5, 0.75, 1]

for learning_rate in learning_rates:
    ada = AdaBoostClassifier(n_estimators=20, learning_rate=learning_rate, random_state=0)
    ada.fit(X_train_sub, y_train_sub)

    print("Learning rate:", learning_rate)
    print("Accuracy score (training): {:.3f}".format(ada.score(X_train_sub, y_train_sub)))
    print("Accuracy score (validation): {:.3f}".format(ada.score(X_validation_sub, y_validation_sub)))
    print()

Learning rate: 0.05
Accuracy score (training): 0.789
Accuracy score (validation): 0.780

Learning rate: 0.1
Accuracy score (training): 0.789
Accuracy score (validation): 0.780

Learning rate: 0.25
Accuracy score (training): 0.792
Accuracy score (validation): 0.780

Learning rate: 0.5
Accuracy score (training): 0.795
Accuracy score (validation): 0.776

Learning rate: 0.75
Accuracy score (training): 0.798
Accuracy score (validation): 0.776

Learning rate: 1
Accuracy score (training): 0.804
Accuracy score (validation): 0.776